<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>MadBrad Admin</title>
</head>
<body>
    <h1>MADBRAD ADMIN</h1>
    <p>Control room online.</p>
    <h2>Latest Downloads</h2> <br>
<p><a href="/download/latest.pptx">Download Latest Pitch Deck</a></p>
<p><a href="/download/latest_analysis_report.pdf">Download Latest Script Analysis PDF</a></p>
<p><a href="/download/latest_actor_prep_report.pdf">Download Latest Audition Report PDF</a></p>
<p><a href="/download/latest_actor_booked_report.pdf">Download Latest Booked Role Report PDF</a></p><br>
    <h2>Live Stats</h2>

    <div>
        <p>Total Users: {{ stats.users }}</p>
        <p>Total Logins: {{ stats.logins }}</p>
        <p>Deck Runs: {{ stats.deck_runs }}</p>
        <p>Script Analyses: {{ stats.script_analyses }}</p>
        <p>Actor Runs: {{ stats.actor_runs }}</p>
        <p>Feedback: {{ stats.feedback }}</p>
    </div>
</body>
</html>
